[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "==0.24.2"
numpy = "==1.20.2"
scipy = "==1.6.3"
pandas = "==1.2.4"
requests = "==2.25.1"
flask = "==1.1.2"
joblib = "==1.0.1"
gunicorn = "==20.1.0"
pyyaml = "==5.4.1"
black = "*"

[dev-packages]
mypy = "*"
pytest = "*"
flake8 = "*"
flake8-mypy = "*"
pdfplumber = "*"
pylint = "*"
jupyter = "*"
matplotlib = "*"
seaborn = "*"

[scripts]
lint = "pylint training"
test = "python -m pytest -s"
extract_pdf_txt = "python extract_pdf_txt.py"
train = "python training/run.py"
start = "gunicorn --bind 0.0.0.0:5000 web:app"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
