[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "*"
numpy = "*"
scipy = "*"
pandas = "*"
lxml = "*"
pdfplumber = "*"
requests = "*"
flask = "*"
joblib = "*"

[dev-packages]
black = "*"
mypy = "*"
pytest = "*"
flake8 = "*"
flake8-mypy = "*"
pylint = "*"
jupyter = "*"
matplotlib = "*"
seaborn = "*"


[scripts]
lint = "pylint training"
test = "python -m pytest -s"
extract_pdf_txt = "python extract_pdf_txt.py"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
